<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="administrator" class="com.alexey.entity.Administrator"/>
    <bean id="teacher" class="com.alexey.entity.Teacher"/>
    <bean id="student" class="com.alexey.entity.Student"/>
    <bean id="group" class="com.alexey.entity.Group"/>
    <bean id="course" class="com.alexey.entity.Course"/>
    <bean id="topic" class="com.alexey.entity.Topic"/>
    <bean id="user" class="com.alexey.entity.User"/>
    <bean id="userGroupLink" class="com.alexey.entity.UserGroupLink"/>
</beans>